.wrapper {
  margin: 2rem;

  h1 {
    background-color: grey;
    margin: 0;
  }
  h2 {
    background-color: grey;
    margin: 0;
  }
  .plan-content {
    display: flex;
    aside {
      margin-left: 1rem;
      // width: 25vw;
      // min-width: 35vw;
      background-color: grey;

      margin: 0;
      ul {
        padding: 1rem;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      button {
        margin: 0;
        font-size: 0.5rem;
        min-width: 20vw;
        background-color: yellow;
      }
    }
    main {
      display: flex;
      margin: 0rem;
      width: 100vw;
      background-color: grey;
      p {
        margin-left: 1rem;
        width: 60%;
        text-align: justify;
      }
    }
  }
}
