.wrapper {
  margin: 2rem;

  h1 {
    background-color: grey;
    margin: 0;
  }
  .plan-content {
    display: flex;
    aside {
      margin-left: 1rem;
      width: 10vw;
      background-color: grey;

      margin: 0;
      ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
      }
      button {
        padding: 0;
        margin: 0;
        font-size: 0.5rem;
        margin: 0.5rem;
        background-color: yellow;
      }
    }
    main {
      margin: 0rem;
      width: 100vw;
      background-color: grey;
    }
  }
}
