.summary-a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem;
  // background-color: chartreuse;
}

.panel-section {
  // background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
  margin: 2rem;
  p {
    color: black;
    text-align: center;
  }
}

.summary-image {
  background-color: lightgray;
  border: none;
  padding: 2rem;
  border-radius: 90%;
  width: 50%;
  margin-bottom: 1.5rem;
}

.summary-button {
  background-color: #8d0000;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 1;
  transition: 0.3s;
}
